In [1]:
import pandas as pd

In [9]:
data = pd.read_csv("data2601.csv", sep=';')

In [12]:
data.des

,X.1,X,year,contig,comlang_off,rta,destTotImp
count,48518.000000,48518.000000,48518.000000,48518.000000,48518.000000,48518.000000,4.851800e+04
mean,37859.157653,47501.842347,2011.020714,0.031844,0.168845,0.326003,3.788410e+09
std,22730.480278,28948.210955,2.533475,0.175586,0.374618,0.468753,9.214435e+09
min,0.000000,7.000000,2007.000000,0.000000,0.000000,0.000000,2.666950e+05
25%,17977.250000,22186.250000,2009.000000,0.000000,0.000000,0.000000,1.497847e+08
50%,37240.000000,46222.000000,2011.000000,0.000000,0.000000,0.000000,4.942013e+08
75%,57414.750000,72077.750000,2013.000000,0.000000,0.000000,1.000000,2.332118e+09
max,78318.000000,100423.000000,2015.000000,1.000000,1.000000,1.000000,8.601413e+10

In [23]:
data_iso = data[['iso3_o','iso3_d']].value_counts()

In [25]:
data_iso.to_csv('data_iso.csv')

In [20]:
data_iso.drop_duplicates(inplace=True)

<ipython-input-20-663e2fb2c71d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_iso.drop_duplicates(inplace=True)

In [30]:
data_iso_o = data['iso3_o']

In [32]:
data_iso_d = data['iso3_d']

In [33]:
df = pd.concat([data_iso_o, data_iso_d], axis = 0)

In [35]:
df.drop_duplicates(inplace=True)

In [38]:
df.to_csv('unique_iso.csv')

In [47]:
df2 = df.reset_index()

In [50]:
df2.drop('index',axis=1,inplace=True)

In [51]:
df2

       0
0    ALB
1    DZA
2    AND
3    AGO
4    AZE
..   ...
149  STP
150  KNA
151  LCA
152  AFG
153  LSO

[154 rows x 1 columns]

In [52]:
df2.to_csv('unique_iso.csv')